# DATABASE
DATABASE_URL="postgresql://symfony:symfony@db:5432/homekeepassvault"

# APP
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=your-secret-key-change-this-in-production

# Symfony
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

# XDebug Configuration
XDEBUG_MODE=debug
XDEBUG_CONFIG="idekey=vscode client_host=host.docker.internal client_port=9003"
PHP_IDE_CONFIG="serverName=localhost"
